[user]
  name = Chris McCord
  email = chris@chrismccord.com
[core]
	editor = code --wait
	excludesfile = /Users/chris/.gitignore
[color]
  ui = 1
[github]
	user = chrismccord
[url "git@github.com:"]
	insteadOf = https://github.com/
